# Imports

In [1]:
import pandas as pd
import psycopg2

# Import Airport Weather Data

In [2]:
airport_weather_df = pd.read_csv("Database/weather/weather_data/weather_2018_df.csv")
airport_weather_df.dtypes

location          object
date_time         object
precipMM         float64
visibility         int64
cloudcover         int64
windspeedKmph      int64
humidity           int64
dtype: object

In [3]:
# Create Date and Hour Column
airport_weather_df["date"] = airport_weather_df["date_time"].str[0:10]
airport_weather_df["date"] = "2021" + airport_weather_df["date"].str[4:10]
airport_weather_df["hour"] = airport_weather_df["date_time"].str[11:13].apply(int)

In [4]:
# Convert metric weather columns to US units
airport_weather_df["windspeed"] = airport_weather_df["windspeedKmph"]*(0.62137119)
airport_weather_df.head()

,location,date_time,precipMM,visibility,cloudcover,windspeedKmph,humidity,date,hour,windspeed
0,"islip,ny",2018-01-01 00:00:00,0.0,10,61,27,77,2021-01-01,0,16.777022
1,"islip,ny",2018-01-01 01:00:00,0.0,10,50,28,76,2021-01-01,1,17.398393
2,"islip,ny",2018-01-01 02:00:00,0.0,10,40,29,76,2021-01-01,2,18.019765
3,"islip,ny",2018-01-01 03:00:00,0.0,10,29,30,75,2021-01-01,3,18.641136
4,"islip,ny",2018-01-01 04:00:00,0.0,10,20,29,74,2021-01-01,4,18.019765

In [5]:
airport_weather_df.dtypes

location          object
date_time         object
precipMM         float64
visibility         int64
cloudcover         int64
windspeedKmph      int64
humidity           int64
date              object
hour               int64
windspeed        float64
dtype: object

In [6]:
airport_weather_df.describe()

,precipMM,visibility,cloudcover,windspeedKmph,humidity,hour,windspeed
count,252960.000000,252960.000000,252960.000000,252960.000000,252960.000000,252960.0000,252960.000000
mean,0.034721,9.213824,43.878091,13.523929,70.751731,11.5000,8.403380
std,0.222248,2.120176,37.572798,8.238974,20.570284,6.9222,5.119461
min,0.000000,0.000000,0.000000,0.000000,3.000000,0.0000,0.000000
25%,0.000000,10.000000,7.000000,7.000000,57.000000,5.7500,4.349598
50%,0.000000,10.000000,35.000000,12.000000,76.000000,11.5000,7.456454
75%,0.000000,10.000000,83.000000,18.000000,87.000000,17.2500,11.184681
max,13.500000,10.000000,100.000000,69.000000,100.000000,23.0000,42.874612

In [7]:
# Round floating point values
airport_weather_df["windspeed"] = airport_weather_df["windspeed"].round(0)
airport_weather_df["precipMM"] = airport_weather_df["precipMM"].round(2)

In [8]:
# Drop columns that have been reformated
airport_weather_df.drop(["windspeedKmph", "date_time"], axis=1, inplace=True)

In [9]:
# Rename windspeed column to remove unit suffix
airport_weather_df.rename({"precipMM":"precipitation"}, inplace=True)

In [10]:
airport_weather_df.head()

,location,precipMM,visibility,cloudcover,humidity,date,hour,windspeed
0,"islip,ny",0.0,10,61,77,2021-01-01,0,17.0
1,"islip,ny",0.0,10,50,76,2021-01-01,1,17.0
2,"islip,ny",0.0,10,40,76,2021-01-01,2,18.0
3,"islip,ny",0.0,10,29,75,2021-01-01,3,19.0
4,"islip,ny",0.0,10,20,74,2021-01-01,4,18.0

# Get Airport Information

In [11]:
# Get airport information from database
sql="SELECT code, city, state FROM airports"
url="postgresql://postgres:faB17&rigeme@flightsdata.cxtoxxxge4vx.us-east-2.rds.amazonaws.com:5432/flightsdata"
airport_code_city_df = pd.read_sql(sql, url)

In [12]:
## Create airport location field to join with weather data on location field
airport_code_city_df["location"] = airport_code_city_df["city"].str.lower().str.replace(" ", "")

airport_code_city_df.loc[(airport_code_city_df["location"] == "orangecounty/santaana"),["location"]] = "santaana"
airport_code_city_df.loc[(airport_code_city_df["location"] == "washington-dulles"),["location"]] = "washington"
airport_code_city_df.loc[(airport_code_city_df["location"] == "washington-reagannational"),["location"]] = "washington"
airport_code_city_df.loc[(airport_code_city_df["location"] == "orangecounty/santaana"),["location"]] = "santaana"
airport_code_city_df.loc[(airport_code_city_df["location"] == "honolulu-islandofoahu"),["location"]] = "honolulu"
airport_code_city_df.loc[(airport_code_city_df["location"] == "chicago-midway"),["location"]] = "chicago"
airport_code_city_df.loc[(airport_code_city_df["location"] == "chicago-o'hare"),["location"]] = "chicago"
airport_code_city_df.loc[(airport_code_city_df["location"] == "raleigh/durham"),["location"]] = "durham"
airport_code_city_df.loc[(airport_code_city_df["location"] == "newyork-kennedy"),["location"]] = "newyork"
airport_code_city_df.loc[(airport_code_city_df["location"] == "newyork-laguardia"),["location"]] = "newyork"
airport_code_city_df.loc[(airport_code_city_df["location"] == "dallas/fortworth"),["location"]] = "dallas"
airport_code_city_df.loc[(airport_code_city_df["location"] == "houston-georgebushintercontinental"),["location"]] ="houston"
airport_code_city_df.loc[(airport_code_city_df["location"] == "houston-hobby"),["location"]] = "houston"
airport_code_city_df.loc[(airport_code_city_df["location"] == "seattle/tacoma"),["location"]] = "seattle"

airport_code_city_df["location"] = airport_code_city_df["location"] + "," + airport_code_city_df["state"].str.lower()
airport_code_city_df.head(50)

   code                                    city state           location
0   PHX                                 Phoenix    AZ         phoenix,az
1   BUR                                 Burbank    CA         burbank,ca
2   LAX                             Los Angeles    CA      losangeles,ca
3   OAK                                 Oakland    CA         oakland,ca
4   SNA                 Orange County/Santa Ana    CA        santaana,ca
5   SMF                              Sacramento    CA      sacramento,ca
6   SAN                               San Diego    CA        sandiego,ca
7   SFO                           San Francisco    CA    sanfrancisco,ca
8   SJC                                San Jose    CA         sanjose,ca
9   DEN                                  Denver    CO          denver,co
10  IAD                     Washington - Dulles    DC      washington,dc
11  DCA            Washington - Reagan National    DC      washington,dc
12  FLL                         Fort Lauderdale    FL  fortlauderdale,fl
13  RSW                              Fort Myers    FL       fortmyers,fl
14  MIA                                   Miami    FL           miami,fl
15  MCO                                 Orlando    FL         orlando,fl
16  TPA                                   Tampa    FL           tampa,fl
17  PBI                         West Palm Beach    FL   westpalmbeach,fl
18  ATL                                 Atlanta    GA         atlanta,ga
19  HNL               Honolulu - Island of Oahu    HI        honolulu,hi
20  MDW                        Chicago - Midway    IL         chicago,il
21  ORD                        Chicago - O'Hare    IL         chicago,il
22  IND                            Indianapolis    IN    indianapolis,in
23  MSY                             New Orleans    LA      neworleans,la
24  BOS                                  Boston    MA          boston,ma
25  BWI                               Baltimore    MD       baltimore,md
26  DTW                                 Detroit    MI         detroit,mi
27  MSP                             Minneapolis    MN     minneapolis,mn
28  MCI                             Kansas City    MO      kansascity,mo
29  STL                             Saint Louis    MO      saintlouis,mo
30  CLT                               Charlotte    NC       charlotte,nc
31  RDU                          Raleigh/Durham    NC          durham,nc
32  EWR                                  Newark    NJ          newark,nj
33  LAS                               Las Vegas    NV        lasvegas,nv
34  JFK                      New York - Kennedy    NY         newyork,ny
35  LGA                   New York - La Guardia    NY         newyork,ny
36  CVG                              Cincinnati    OH      cincinnati,oh
37  CLE                               Cleveland    OH       cleveland,oh
38  CMH                                Columbus    OH        columbus,oh
39  PDX                                Portland    OR        portland,or
40  PHL                            Philadelphia    PA    philadelphia,pa
41  PIT                              Pittsburgh    PA      pittsburgh,pa
42  BNA                               Nashville    TN       nashville,tn
43  AUS                                  Austin    TX          austin,tx
44  DFW                       Dallas/Fort Worth    TX          dallas,tx
45  IAH  Houston - George Bush Intercontinental    TX         houston,tx
46  HOU                         Houston - Hobby    TX         houston,tx
47  SAT                             San Antonio    TX      sanantonio,tx
48  SLC                          Salt Lake City    UT    saltlakecity,ut
49  SEA                          Seattle/Tacoma    WA         seattle,wa

In [13]:
# Drop city and state columns
airport_code_city_df.drop(["city", "state"], axis=1, inplace=True)

# Join Weather Data with Airport Data

In [14]:
## Join weather data with airport data
airport_weather_df = airport_weather_df.join(airport_code_city_df.set_index("location"), on="location", how="inner")
airport_weather_df.head(20)

,location,precipMM,visibility,cloudcover,humidity,date,hour,windspeed,code
744,"sanfrancisco,ca",0.0,10,24,80,2021-01-01,0,14.0,SFO
745,"sanfrancisco,ca",0.0,10,28,79,2021-01-01,1,12.0,SFO
746,"sanfrancisco,ca",0.0,10,31,79,2021-01-01,2,11.0,SFO
747,"sanfrancisco,ca",0.1,10,35,78,2021-01-01,3,10.0,SFO
748,"sanfrancisco,ca",0.0,10,40,77,2021-01-01,4,9.0,SFO
749,"sanfrancisco,ca",0.0,10,45,77,2021-01-01,5,7.0,SFO
750,"sanfrancisco,ca",0.0,10,50,76,2021-01-01,6,6.0,SFO
751,"sanfrancisco,ca",0.0,10,48,73,2021-01-01,7,6.0,SFO
752,"sanfrancisco,ca",0.1,9,46,69,2021-01-01,8,6.0,SFO
753,"sanfrancisco,ca",0.1,9,45,66,2021-01-01,9,5.0,SFO
754,"sanfrancisco,ca",0.1,9,47,66,2021-01-01,10,6.0,SFO
755,"sanfrancisco,ca",0.0,10,49,67,2021-01-01,11,7.0,SFO
756,"sanfrancisco,ca",0.0,10,51,67,2021-01-01,12,9.0,SFO
757,"sanfrancisco,ca",0.0,10,43,67,2021-01-01,13,7.0,SFO
758,"sanfrancisco,ca",0.1,9,36,68,2021-01-01,14,5.0,SFO
759,"sanfrancisco,ca",0.1,9,28,69,2021-01-01,15,3.0,SFO
760,"sanfrancisco,ca",0.1,9,29,70,2021-01-01,16,4.0,SFO
761,"sanfrancisco,ca",0.0,10,30,71,2021-01-01,17,5.0,SFO
762,"sanfrancisco,ca",0.0,10,31,72,2021-01-01,18,6.0,SFO
763,"sanfrancisco,ca",0.0,10,29,74,2021-01-01,19,7.0,SFO

In [16]:
airport_weather_df.drop(["location"], axis=1, inplace=True)
airport_weather_df = airport_weather_df[["code", "date", "hour", "visibility", "cloudcover", "windspeed", "humidity", "preciptation"]]

KeyError: "['location'] not found in axis"

In [ ]:
airport_weather_df.head()

In [ ]:
airport_weather_df