In [1]:
#Import requests library and API key
import requests
from config import weather_api_key

# Import Dependencies
import pandas as pd

### Import & edit necessary DataFrames for API call

In [2]:
# Import DataFrame from Segment One
initial_2019 = pd.read_csv('Database/Data/jan_19_clean_data.csv')
initial_2020 = pd.read_csv('Database/Data/jan_20_clean_data.csv')
initial_2019

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565958,31,4,19977,UA,N776UA,200,12016,1201602,GUM,12173,1217305,HNL,749.0,0.0,0700-0759,1832.0,0.0,0,0,3801
565959,31,4,19977,UA,N36280,174,12016,1201602,GUM,14955,1495503,SPN,717.0,0.0,0700-0759,759.0,0.0,0,0,129
565960,31,4,19977,UA,N36280,117,14955,1495503,SPN,12016,1201602,GUM,857.0,0.0,0900-0959,933.0,0.0,0,0,129
565961,31,4,19977,UA,N39726,105,14955,1495503,SPN,12016,1201602,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0,0,129
565962,31,4,19977,UA,N39726,104,12016,1201602,GUM,14955,1495503,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0,0,129

In [3]:
# Import City Codes to Cities DataFrame
city_code_df = pd.read_csv('Flight_data_files/airport_codes_city.csv')
city_code_df

    Airport Code              City
0            ABR      Aberdeen, SD
1            ABI       Abilene, TX
2            ADK   Adak Island, AK
3            CAK  Akron/Canton, OH
4            ALB        Albany, NY
..           ...               ...
317          ILM    Wilmington, NC
318          ORH     Worcester, MA
319          WRG      Wrangell, AK
320          YAK       Yakutat, AK
321          YUM          Yuma, AZ

[322 rows x 2 columns]

In [4]:
# Make all cities in lowercase
city_code_lower = city_code_df['City'].str.lower()
city_code_lower

0          aberdeen, sd
1           abilene, tx
2       adak island, ak
3      akron/canton, oh
4            albany, ny
             ...
317      wilmington, nc
318       worcester, ma
319        wrangell, ak
320         yakutat, ak
321            yuma, az
Name: City, Length: 322, dtype: object

In [5]:
# Delete all spaces
city_code_clean = city_code_lower.str.replace(" ", "")
city_code_clean

0          aberdeen,sd
1           abilene,tx
2        adakisland,ak
3      akron/canton,oh
4            albany,ny
            ...
317      wilmington,nc
318       worcester,ma
319        wrangell,ak
320         yakutat,ak
321            yuma,az
Name: City, Length: 322, dtype: object

In [6]:
# Convert the lowercase/no space city series to a dataframe
lower_city_df = city_code_clean.to_frame()
lower_city_df

                City
0        aberdeen,sd
1         abilene,tx
2      adakisland,ak
3    akron/canton,oh
4          albany,ny
..               ...
317    wilmington,nc
318     worcester,ma
319      wrangell,ak
320       yakutat,ak
321          yuma,az

[322 rows x 1 columns]

In [7]:
# Create a city abreviation dataframe
city_code_abr_df = city_code_df.drop(columns="City")
city_code_abr_df

    Airport Code
0            ABR
1            ABI
2            ADK
3            CAK
4            ALB
..           ...
317          ILM
318          ORH
319          WRG
320          YAK
321          YUM

[322 rows x 1 columns]

In [8]:
# Inner join the two dataframes to create a clean city code df that can be used by the API
city_code_clean_df = pd.concat([city_code_abr_df, lower_city_df], axis=1, join='inner')
city_code_clean_df

    Airport Code             City
0            ABR      aberdeen,sd
1            ABI       abilene,tx
2            ADK    adakisland,ak
3            CAK  akron/canton,oh
4            ALB        albany,ny
..           ...              ...
317          ILM    wilmington,nc
318          ORH     worcester,ma
319          WRG      wrangell,ak
320          YAK       yakutat,ak
321          YUM          yuma,az

[322 rows x 2 columns]

In [9]:
# Create a dataframe for the origin cities
origin_code_df = city_code_clean_df.rename(columns={"Airport Code": "ORIGIN"})
origin_code_df

    ORIGIN             City
0      ABR      aberdeen,sd
1      ABI       abilene,tx
2      ADK    adakisland,ak
3      CAK  akron/canton,oh
4      ALB        albany,ny
..     ...              ...
317    ILM    wilmington,nc
318    ORH     worcester,ma
319    WRG      wrangell,ak
320    YAK       yakutat,ak
321    YUM          yuma,az

[322 rows x 2 columns]

In [10]:
# Create a dataframe for the destination cities
dest_code_df = city_code_clean_df.rename(columns={"Airport Code": "DEST"})
dest_code_df

    DEST             City
0    ABR      aberdeen,sd
1    ABI       abilene,tx
2    ADK    adakisland,ak
3    CAK  akron/canton,oh
4    ALB        albany,ny
..   ...              ...
317  ILM    wilmington,nc
318  ORH     worcester,ma
319  WRG      wrangell,ak
320  YAK       yakutat,ak
321  YUM          yuma,az

[322 rows x 2 columns]

In [12]:
initial_2019["dest_city"] = ""
initial_2019["origin_city"] = ""
flights_2019 = initial_2019[["DAY_OF_MONTH","DAY_OF_WEEK","OP_CARRIER_AIRLINE_ID","OP_CARRIER","TAIL_NUM","OP_CARRIER_FL_NUM","ORIGIN_AIRPORT_ID","ORIGIN_AIRPORT_SEQ_ID","ORIGIN","origin_city","DEST_AIRPORT_ID","DEST_AIRPORT_SEQ_ID","DEST","dest_city","DEP_TIME","DEP_DEL15","DEP_TIME_BLK","ARR_TIME","ARR_DEL15","CANCELLED","DIVERTED","DISTANCE"]]
flights_2019

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,origin_city,...,DEST,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,20363,9E,N8688C,3280,11953,1195302,GNV,,...,ATL,,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,20363,9E,N348PQ,3281,13487,1348702,MSP,,...,CVG,,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,20363,9E,N8896A,3282,11433,1143302,DTW,,...,CVG,,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,20363,9E,N8886A,3283,15249,1524906,TLH,,...,ATL,,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,20363,9E,N8974C,3284,10397,1039707,ATL,,...,FSM,,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565958,31,4,19977,UA,N776UA,200,12016,1201602,GUM,,...,HNL,,749.0,0.0,0700-0759,1832.0,0.0,0,0,3801
565959,31,4,19977,UA,N36280,174,12016,1201602,GUM,,...,SPN,,717.0,0.0,0700-0759,759.0,0.0,0,0,129
565960,31,4,19977,UA,N36280,117,14955,1495503,SPN,,...,GUM,,857.0,0.0,0900-0959,933.0,0.0,0,0,129
565961,31,4,19977,UA,N39726,105,14955,1495503,SPN,,...,GUM,,1820.0,0.0,1800-1859,1854.0,0.0,0,0,129
565962,31,4,19977,UA,N39726,104,12016,1201602,GUM,,...,SPN,,1636.0,0.0,1600-1659,1719.0,0.0,0,0,129

In [13]:
# Merge Origin code and the flights dataframes
origin_join_df = pd.merge(origin_code_df,flights_2019, on='ORIGIN', how ='inner')
origin_join_df

,ORIGIN,City,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,...,DEST,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,ABR,"aberdeen,sd",1,2,20304,OO,N910EV,7363,10141,1014106,...,MSP,,1411.0,1.0,1300-1359,1521.0,1.0,0,0,257
1,ABR,"aberdeen,sd",1,2,20304,OO,N432SW,7365,10141,1014106,...,MSP,,642.0,0.0,0600-0659,800.0,0.0,0,0,257
2,ABR,"aberdeen,sd",2,3,20304,OO,N498CA,7363,10141,1014106,...,MSP,,1310.0,0.0,1300-1359,1424.0,0.0,0,0,257
3,ABR,"aberdeen,sd",2,3,20304,OO,N439SW,7365,10141,1014106,...,MSP,,502.0,0.0,0001-0559,622.0,0.0,0,0,257
4,ABR,"aberdeen,sd",3,4,20304,OO,N8965E,7363,10141,1014106,...,MSP,,1307.0,0.0,1300-1359,1411.0,0.0,0,0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555444,YUM,"yuma,az",30,3,20304,OO,N746SK,2988,16218,1621802,...,PHX,,1739.0,0.0,1700-1759,1832.0,0.0,0,0,160
555445,YUM,"yuma,az",31,4,20304,OO,N713SK,2978,16218,1621802,...,PHX,,1120.0,0.0,1100-1159,1212.0,0.0,0,0,160
555446,YUM,"yuma,az",31,4,20304,OO,N713SK,2988,16218,1621802,...,PHX,,1739.0,0.0,1700-1759,1828.0,0.0,0,0,160
555447,YUM,"yuma,az",31,4,20304,OO,N710SK,3060,16218,1621802,...,PHX,,2120.0,0.0,2100-2159,2203.0,0.0,0,0,160
555448,YUM,"yuma,az",31,4,20304,OO,N746SK,2967,16218,1621802,...,PHX,,645.0,0.0,0600-0659,728.0,0.0,0,0,160

In [18]:
# Change city column to Origin City
origin_join_df = origin_join_df.rename(columns={'City':'ORIGIN_CITY'})
origin_join_df

,ORIGIN,ORIGIN_CITY,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,...,DEST,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,ABR,"aberdeen,sd",1,2,20304,OO,N910EV,7363,10141,1014106,...,MSP,,1411.0,1.0,1300-1359,1521.0,1.0,0,0,257
1,ABR,"aberdeen,sd",1,2,20304,OO,N432SW,7365,10141,1014106,...,MSP,,642.0,0.0,0600-0659,800.0,0.0,0,0,257
2,ABR,"aberdeen,sd",2,3,20304,OO,N498CA,7363,10141,1014106,...,MSP,,1310.0,0.0,1300-1359,1424.0,0.0,0,0,257
3,ABR,"aberdeen,sd",2,3,20304,OO,N439SW,7365,10141,1014106,...,MSP,,502.0,0.0,0001-0559,622.0,0.0,0,0,257
4,ABR,"aberdeen,sd",3,4,20304,OO,N8965E,7363,10141,1014106,...,MSP,,1307.0,0.0,1300-1359,1411.0,0.0,0,0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555444,YUM,"yuma,az",30,3,20304,OO,N746SK,2988,16218,1621802,...,PHX,,1739.0,0.0,1700-1759,1832.0,0.0,0,0,160
555445,YUM,"yuma,az",31,4,20304,OO,N713SK,2978,16218,1621802,...,PHX,,1120.0,0.0,1100-1159,1212.0,0.0,0,0,160
555446,YUM,"yuma,az",31,4,20304,OO,N713SK,2988,16218,1621802,...,PHX,,1739.0,0.0,1700-1759,1828.0,0.0,0,0,160
555447,YUM,"yuma,az",31,4,20304,OO,N710SK,3060,16218,1621802,...,PHX,,2120.0,0.0,2100-2159,2203.0,0.0,0,0,160
555448,YUM,"yuma,az",31,4,20304,OO,N746SK,2967,16218,1621802,...,PHX,,645.0,0.0,0600-0659,728.0,0.0,0,0,160

In [15]:
# Create a destination dataframe by merging the flights with destination codes
dest_join_df = pd.merge(dest_code_df,flights_2019, on='DEST', how ='inner')
dest_join_df

,DEST,City,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,...,DEST_AIRPORT_SEQ_ID,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,ABR,"aberdeen,sd",1,2,20304,OO,N910EV,7363,13487,1348702,...,1014106,,1220.0,1.0,1100-1159,1343.0,1.0,0,0,257
1,ABR,"aberdeen,sd",1,2,20304,OO,N439SW,7419,13487,1348702,...,1014106,,2010.0,0.0,2000-2059,2139.0,0.0,0,0,257
2,ABR,"aberdeen,sd",2,3,20304,OO,N498CA,7363,13487,1348702,...,1014106,,1123.0,0.0,1100-1159,1230.0,0.0,0,0,257
3,ABR,"aberdeen,sd",2,3,20304,OO,N935SW,7419,13487,1348702,...,1014106,,2226.0,0.0,2200-2259,2342.0,0.0,0,0,257
4,ABR,"aberdeen,sd",3,4,20304,OO,N8965E,7363,13487,1348702,...,1014106,,1120.0,0.0,1100-1159,1224.0,0.0,0,0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555445,YUM,"yuma,az",30,3,20304,OO,N746SK,2988,14107,1410702,...,1621802,,1610.0,0.0,1600-1659,1702.0,0.0,0,0,160
555446,YUM,"yuma,az",31,4,20304,OO,N713SK,2978,14107,1410702,...,1621802,,936.0,0.0,0900-0959,1048.0,0.0,0,0,160
555447,YUM,"yuma,az",31,4,20304,OO,N710SK,2985,14107,1410702,...,1621802,,2254.0,0.0,2200-2259,2347.0,0.0,0,0,160
555448,YUM,"yuma,az",31,4,20304,OO,N713SK,2988,14107,1410702,...,1621802,,1612.0,0.0,1600-1659,1655.0,0.0,0,0,160
555449,YUM,"yuma,az",31,4,20304,OO,N710SK,3060,14107,1410702,...,1621802,,1954.0,0.0,1900-1959,2107.0,1.0,0,0,160

In [20]:
# Change city column to Destination City
dest_join_df = dest_join_df.rename(columns={'City':'DEST_CITY'})
dest_join_df

,DEST,DEST_CITY,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,...,DEST_AIRPORT_SEQ_ID,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,ABR,"aberdeen,sd",1,2,20304,OO,N910EV,7363,13487,1348702,...,1014106,,1220.0,1.0,1100-1159,1343.0,1.0,0,0,257
1,ABR,"aberdeen,sd",1,2,20304,OO,N439SW,7419,13487,1348702,...,1014106,,2010.0,0.0,2000-2059,2139.0,0.0,0,0,257
2,ABR,"aberdeen,sd",2,3,20304,OO,N498CA,7363,13487,1348702,...,1014106,,1123.0,0.0,1100-1159,1230.0,0.0,0,0,257
3,ABR,"aberdeen,sd",2,3,20304,OO,N935SW,7419,13487,1348702,...,1014106,,2226.0,0.0,2200-2259,2342.0,0.0,0,0,257
4,ABR,"aberdeen,sd",3,4,20304,OO,N8965E,7363,13487,1348702,...,1014106,,1120.0,0.0,1100-1159,1224.0,0.0,0,0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555445,YUM,"yuma,az",30,3,20304,OO,N746SK,2988,14107,1410702,...,1621802,,1610.0,0.0,1600-1659,1702.0,0.0,0,0,160
555446,YUM,"yuma,az",31,4,20304,OO,N713SK,2978,14107,1410702,...,1621802,,936.0,0.0,0900-0959,1048.0,0.0,0,0,160
555447,YUM,"yuma,az",31,4,20304,OO,N710SK,2985,14107,1410702,...,1621802,,2254.0,0.0,2200-2259,2347.0,0.0,0,0,160
555448,YUM,"yuma,az",31,4,20304,OO,N713SK,2988,14107,1410702,...,1621802,,1612.0,0.0,1600-1659,1655.0,0.0,0,0,160
555449,YUM,"yuma,az",31,4,20304,OO,N710SK,3060,14107,1410702,...,1621802,,1954.0,0.0,1900-1959,2107.0,1.0,0,0,160

In [24]:
# Merge the origin and destination dataframes to prepare for the API requests
complete_flight_df = pd.merge(origin_join_df, dest_join_df)
complete_flight_df.head(50)

,ORIGIN,ORIGIN_CITY,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,...,dest_city,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,DEST_CITY
0,ABR,"aberdeen,sd",1,2,20304,OO,N910EV,7363,10141,1014106,...,,1411.0,1.0,1300-1359,1521.0,1.0,0,0,257,"minneapolis,mn"
1,ABR,"aberdeen,sd",1,2,20304,OO,N432SW,7365,10141,1014106,...,,642.0,0.0,0600-0659,800.0,0.0,0,0,257,"minneapolis,mn"
2,ABR,"aberdeen,sd",2,3,20304,OO,N498CA,7363,10141,1014106,...,,1310.0,0.0,1300-1359,1424.0,0.0,0,0,257,"minneapolis,mn"
3,ABR,"aberdeen,sd",2,3,20304,OO,N439SW,7365,10141,1014106,...,,502.0,0.0,0001-0559,622.0,0.0,0,0,257,"minneapolis,mn"
4,ABR,"aberdeen,sd",3,4,20304,OO,N8965E,7363,10141,1014106,...,,1307.0,0.0,1300-1359,1411.0,0.0,0,0,257,"minneapolis,mn"
5,ABR,"aberdeen,sd",3,4,20304,OO,N935SW,7365,10141,1014106,...,,506.0,0.0,0001-0559,621.0,0.0,0,0,257,"minneapolis,mn"
6,ABR,"aberdeen,sd",4,5,20304,OO,N461SW,7363,10141,1014106,...,,1308.0,0.0,1300-1359,1414.0,0.0,0,0,257,"minneapolis,mn"
7,ABR,"aberdeen,sd",4,5,20304,OO,N461SW,7365,10141,1014106,...,,447.0,0.0,0001-0559,603.0,0.0,0,0,257,"minneapolis,mn"
8,ABR,"aberdeen,sd",5,6,20304,OO,N702BR,7363,10141,1014106,...,,1312.0,0.0,1300-1359,1415.0,0.0,0,0,257,"minneapolis,mn"
9,ABR,"aberdeen,sd",5,6,20304,OO,N430SW,7365,10141,1014106,...,,447.0,0.0,0001-0559,547.0,0.0,0,0,257,"minneapolis,mn"
10,ABR,"aberdeen,sd",6,7,20304,OO,N437SW,7363,10141,1014106,...,,1318.0,0.0,1300-1359,1417.0,0.0,0,0,257,"minneapolis,mn"
11,ABR,"aberdeen,sd",6,7,20304,OO,N437SW,7365,10141,1014106,...,,453.0,0.0,0001-0559,614.0,0.0,0,0,257,"minneapolis,mn"
12,ABR,"aberdeen,sd",7,1,20304,OO,N460SW,7363,10141,1014106,...,,1307.0,0.0,1300-1359,1417.0,0.0,0,0,257,"minneapolis,mn"
13,ABR,"aberdeen,sd",7,1,20304,OO,N8923A,7365,10141,1014106,...,,447.0,0.0,0001-0559,548.0,0.0,0,0,257,"minneapolis,mn"
14,ABR,"aberdeen,sd",8,2,20304,OO,N438SW,7363,10141,1014106,...,,1307.0,0.0,1300-1359,1417.0,0.0,0,0,257,"minneapolis,mn"
15,ABR,"aberdeen,sd",8,2,20304,OO,N457SW,7365,10141,1014106,...,,500.0,0.0,0001-0559,614.0,0.0,0,0,257,"minneapolis,mn"
16,ABR,"aberdeen,sd",9,3,20304,OO,N868CA,7363,10141,1014106,...,,1310.0,0.0,1300-1359,1409.0,0.0,0,0,257,"minneapolis,mn"
17,ABR,"aberdeen,sd",9,3,20304,OO,N886AS,7365,10141,1014106,...,,448.0,0.0,0001-0559,548.0,0.0,0,0,257,"minneapolis,mn"
18,ABR,"aberdeen,sd",10,4,20304,OO,N926EV,7363,10141,1014106,...,,1317.0,0.0,1300-1359,1419.0,0.0,0,0,257,"minneapolis,mn"
19,ABR,"aberdeen,sd",10,4,20304,OO,N675BR,7365,10141,1014106,...,,456.0,0.0,0001-0559,621.0,0.0,0,0,257,"minneapolis,mn"
20,ABR,"aberdeen,sd",11,5,20304,OO,N455CA,7363,10141,1014106,...,,1310.0,0.0,1300-1359,1422.0,0.0,0,0,257,"minneapolis,mn"
21,ABR,"aberdeen,sd",11,5,20304,OO,N868CA,7365,10141,1014106,...,,455.0,0.0,0001-0559,640.0,0.0,0,0,257,"minneapolis,mn"
22,ABR,"aberdeen,sd",12,6,20304,OO,N921EV,7363,10141,1014106,...,,1306.0,0.0,1300-1359,1433.0,0.0,0,0,257,"minneapolis,mn"
23,ABR,"aberdeen,sd",12,6,20304,OO,N8884E,7365,10141,1014106,...,,500.0,0.0,0001-0559,626.0,0.0,0,0,257,"minneapolis,mn"
24,ABR,"aberdeen,sd",13,7,20304,OO,N915EV,7363,10141,1014106,...,,1316.0,0.0,1300-1359,1433.0,0.0,0,0,257,"minneapolis,mn"
25,ABR,"aberdeen,sd",13,7,20304,OO,N498CA,7365,10141,1014106,...,,450.0,0.0,0001-0559,613.0,0.0,0,0,257,"minneapolis,mn"
26,ABR,"aberdeen,sd",14,1,20304,OO,N921EV,7363,10141,1014106,...,,1351.0,1.0,1300-1359,1516.0,1.0,0,0,257,"minneapolis,mn"
27,ABR,"aberdeen,sd",14,1,20304,OO,N873AS,7365,10141,1014106,...,,459.0,0.0,0001-0559,633.0,0.0,0,0,257,"minneapolis,mn"
28,ABR,"aberdeen,sd",15,2,20304,OO,N439SW,7363,10141,1014106,...,,1316.0,0.0,1300-1359,1439.0,0.0,0,0,257,"minneapolis,mn"
29,ABR,"aberdeen,sd",15,2,20304,OO,N8932C,7365,10141,1014106,...,,452.0,0.0,0001-0559,612.0,0.0,0,0,257,"minneapolis,mn"
30,ABR,"aberdeen,sd",16,3,20304,OO,N448SW,7363,10141,1014106,...,,1312.0,0.0,1300-1359,1410.0,0.0,0,0,257,"minneapolis,mn"
31,ABR,"aberdeen,sd",16,3,20304,OO,N8982A,7365,10141,1014106,...,,456.0,0.0,0001-0559,617.0,0.0,0,0,257,"minneapolis,mn"
32,ABR,"aberdeen,sd",17,4,20304,OO,N442SW,7363,10141,1014106,...,,1311.0,0.0,1300-1359,1422.0,0.0,0,0,257,"minneapolis,mn"
33,ABR,"aberdeen,sd",17,4,20304,OO,N498CA,7365,10141,1014106,...,,457.0,0.0,0001-0559,628.0,0.0,0,0,257,"minneapolis,mn"
34,ABR,"aberdeen,sd",18,5,20304,OO,N431SW,7363,10141,1014106,...,,1359.0,1.0,1300-1359,1522.0,1.0,0,0,257,"minneapolis,mn"
35,ABR,"aberdeen,sd",18,5,20304,OO,N427SW,7365,10141,1014106,...,,457.0,0.0,0001-0559,616.0,0.0,0,0,257,"minneapolis,mn"
36,ABR,"aberdeen,sd",19,6,20304,OO,N460SW,7363,10141,1014106,...,,1306.0,0.0,1300-1359,1417.0,0.0,0,0,257,"minneapolis,mn"
37,ABR,"aberdeen,sd",19,6,20304,OO,N868CA,7365,10141,1014106,...,,512.0,0.0,0001-0559,636.0,0.0,0,0,257,"minneapolis,mn"
38,ABR,"aberdeen,sd",20,7,20304,OO,N868CA,7363,10141,1014106,...,,1319.0,0.0,1300-1359,1421.0,0.0,0,0,257,"minneapolis,mn"
39,ABR,"aberdeen,sd",20,7,20304,OO,N8965E,7365,10141,1014106,...,,456.0,0.0,0001-0559,629.0,0.0,0,0,257,"minneapolis,mn"
40,ABR,"aberdeen,sd",21,1,20304,OO,N936SW,7363,10141,1014106,...,,1315.0,0.0,1300-1359,1437.0,0.0,0,0,257,"minneapolis,mn"
41,ABR,"aberdeen,sd",21,1,20304,OO,N926EV,7365,10141,1014106,...,,625.0,0.0,0600-0659,746.0,0.0,0,0,257,"minneapolis,mn"
42,ABR,"aberdeen,sd",22,2,20304,OO,N8965E,7363,10141,1014106,...,,1319.0,0.0,1300-1359,1444.0,0.0,0,0,257,"minneapolis,mn"
43,ABR,"aberdeen,sd",22,2,20304,OO,N440SW,7365,10141,1014106,...,,454.0,0.0,0001-0559,635.0,0.0,0,0,257,"minneapolis,mn"
44,ABR,"aberdeen,sd",23,3,20304,OO,N506CA,7363,10141,1014106,...,,1318.0,0.0,1300-1359,1425.0,0.0,0,0,257,"minneapolis,mn"
45,ABR,"aberdeen,sd",23,3,20304,OO,N8965E,7365,10141,1014106,...,,451.0,0.0,0001-0559,610.0,0.0,0,0,257,"minneapolis,mn"
46,ABR,"aberdeen,sd",24,4,20304,OO,N440SW,7363,10141,1014106,...,,1314.0,0.0,1300-1359,1427.0,0.0,0,0,257,"minneapolis,mn"
47,ABR,"aberdeen,sd",24,4,20304,OO,N477CA,7365,10141,1014106,...,,456.0,0.0,0001-0559,628.0,0.0,0,0,257,"minneapolis,mn"
48,ABR,"aberdeen,sd",25,5,20304,OO,N477CA,7363,10141,1014106,...,,1310.0,0.0,1300-1359,1415.0,0.0,0,0,257,"minneapolis,mn"
49,ABR,"aberdeen,sd",25,5,20304,OO,N433SW,7365,10141,1014106,...,,548.0,1.0,0001-0559,654.0,1.0,0,0,257,"minneapolis,mn"

In [39]:
# Create an empty list for dept airport codes and date
dest_name = []
origin_name = []
date = []

#Create for loop for dates
for i in complete_flight_df['DAY_OF_MONTH']:
    date.append(i)

#Create for loop for departure airport code
for i in complete_flight_df['ORIGIN_CITY']:
    origin_name.append(i)

#Create for loop for arival airport code
for i in complete_flight_df['DEST_CITY']:
    dest_name.append(i)


#len(dest_name)
#len(origin_name)
#len(date)

545340

### Create API calls using Open Weather

In [ ]:
# Starting URL for API call to World Weather
url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx" + "?key=" + weather_api_key
print(url)

In [28]:
# Create an endpoint URL for a city destination
airport_url = url + "&q=" + dest_code + "&format=json" + "&date=2019-01-" + date
print(airport_url)

NameError: name 'url' is not defined

In [ ]:
# Create an endpoint for airport weather
airport_weather = requests.get(airport_url)
airport_weather.json()