In [1]:
# Import Dependencies
from path import Path
import pandas as pd

In [5]:
# Import testing dataset
initial_2019 = pd.read_csv('Flight_data_files/Jan_2019_ontime.csv')
initial_2020 = pd.read_csv('Flight_data_files/Jan_2020_ontime.csv')
initial_2019

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,HNL,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0,NaN
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,SPN,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0,NaN
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,GUM,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0,NaN
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0,NaN
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0,NaN

In [31]:
#Drop Unnamed: 21
machine_model_2019_df = initial_2019.filter(["DAY_OF_MONTH","OP_CARRIER_AIRLINE_ID","OP_CARRIER_FL_NUM","ORIGIN_AIRPORT_ID","ORIGIN_AIRPORT_SEQ_ID","DEST_AIRPORT_SEQ_ID","DEP_TIME","DEP_DEL15","DEP_TIME_BLK","ARR_TIME","ARR_DEL15","CANCELLED","DIVERTED","DISTANCE"])
machine_model_2019_df

,DAY_OF_MONTH,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,20363,3280,11953,1195302,1039707,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0
1,1,20363,3281,13487,1348702,1119302,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0
2,1,20363,3282,11433,1143302,1119302,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0
3,1,20363,3283,15249,1524906,1039707,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0
4,1,20363,3284,10397,1039707,1177801,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,19977,200,12016,1201602,1217305,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0
583981,31,19977,174,12016,1201602,1495503,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0
583982,31,19977,117,14955,1495503,1201602,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0
583983,31,19977,105,14955,1495503,1201602,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0
583984,31,19977,104,12016,1201602,1495503,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0

In [36]:
clean_machine_model_2019_df = machine_model_2019_df[machine_model_2019_df['']]

TypeError: dropna() got an unexpected keyword argument 'column'

In [38]:
machine_model_2019_df.isna().sum()

DAY_OF_MONTH                 0
OP_CARRIER_AIRLINE_ID        0
OP_CARRIER_FL_NUM            0
ORIGIN_AIRPORT_ID            0
ORIGIN_AIRPORT_SEQ_ID        0
DEST_AIRPORT_SEQ_ID          0
DEP_TIME                 16352
DEP_DEL15                16355
DEP_TIME_BLK                 0
ARR_TIME                 17061
ARR_DEL15                18022
CANCELLED                    0
DIVERTED                     0
DISTANCE                     0
dtype: int64

In [39]:
machine_model_2019_df.dtypes

DAY_OF_MONTH               int64
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
DEST_AIRPORT_SEQ_ID        int64
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
dtype: object

In [ ]:
machine_model_2019_df.drop

In [32]:
# Create Feature and Target Variables
y = machine_model_2019_df["DEP_DEL15"]
X = machine_model_2019_df.drop(columns="DEP_DEL15")

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=34, 
                                                    stratify=y)
X_train.shape

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').