In [1]:
# Import Dependencies
from path import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
# Import testing dataset
initial_2019 = pd.read_csv('Database/Data/jan_19_clean_data.csv')
initial_2020 = pd.read_csv('Database/Data/jan_20_clean_data.csv')
initial_2019

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565958,31,4,19977,UA,N776UA,200,12016,1201602,GUM,12173,1217305,HNL,749.0,0.0,0700-0759,1832.0,0.0,0,0,3801
565959,31,4,19977,UA,N36280,174,12016,1201602,GUM,14955,1495503,SPN,717.0,0.0,0700-0759,759.0,0.0,0,0,129
565960,31,4,19977,UA,N36280,117,14955,1495503,SPN,12016,1201602,GUM,857.0,0.0,0900-0959,933.0,0.0,0,0,129
565961,31,4,19977,UA,N39726,105,14955,1495503,SPN,12016,1201602,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0,0,129
565962,31,4,19977,UA,N39726,104,12016,1201602,GUM,14955,1495503,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0,0,129

In [3]:
#Create a new dataframe with only relavent testing data
machine_model_2019_df = initial_2019.filter(["DAY_OF_MONTH","OP_CARRIER_AIRLINE_ID","OP_CARRIER_FL_NUM","ORIGIN_AIRPORT_ID","ORIGIN_AIRPORT_SEQ_ID","DEST_AIRPORT_SEQ_ID","DEP_TIME","DEP_DEL15","ARR_TIME","ARR_DEL15","CANCELLED","DIVERTED","DISTANCE"])
machine_model_2019_df

,DAY_OF_MONTH,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,20363,3280,11953,1195302,1039707,601.0,0.0,722.0,0.0,0,0,300
1,1,20363,3281,13487,1348702,1119302,1359.0,0.0,1633.0,0.0,0,0,596
2,1,20363,3282,11433,1143302,1119302,1215.0,0.0,1329.0,0.0,0,0,229
3,1,20363,3283,15249,1524906,1039707,1521.0,0.0,1625.0,0.0,0,0,223
4,1,20363,3284,10397,1039707,1177801,1847.0,0.0,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565958,31,19977,200,12016,1201602,1217305,749.0,0.0,1832.0,0.0,0,0,3801
565959,31,19977,174,12016,1201602,1495503,717.0,0.0,759.0,0.0,0,0,129
565960,31,19977,117,14955,1495503,1201602,857.0,0.0,933.0,0.0,0,0,129
565961,31,19977,105,14955,1495503,1201602,1820.0,0.0,1854.0,0.0,0,0,129
565962,31,19977,104,12016,1201602,1495503,1636.0,0.0,1719.0,0.0,0,0,129

In [4]:
# Create Feature and Target Variables
y = machine_model_2019_df["DEP_DEL15"]
X = machine_model_2019_df.drop(columns="DEP_DEL15")

In [5]:
# Create X & Y train and test variables
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=34, 
                                                    stratify=y)
X_train.shape

(424472, 12)

In [8]:
# Create the Logistic Regression Model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=34)

In [9]:
# Fit the model
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=34)

In [10]:
# Make predictions 
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0          0.0     1.0
1          0.0     0.0
2          0.0     0.0
3          0.0     1.0
4          0.0     0.0
5          0.0     0.0
6          0.0     0.0
7          0.0     0.0
8          0.0     0.0
9          0.0     0.0
10         0.0     0.0
11         0.0     0.0
12         0.0     0.0
13         0.0     0.0
14         0.0     0.0
15         0.0     0.0
16         0.0     0.0
17         0.0     1.0
18         0.0     0.0
19         0.0     1.0

In [11]:
# Show the accuracy score of the machine learning model 
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8263917846364787