In [13]:
#Import requests library and API key
import requests
from config import weather_api_key

# Import Dependencies
import pandas as pd

# Import Historical API Package
from wwo_hist import retrieve_hist_data

# Import glob dependncies
import os, glob

In [14]:
# Import CSV
city_code_api_df = pd.read_csv('../../../Flight_data_files/post_hardcode_cities.csv',index_col='Unnamed: 0')
city_code_api_df

    Airport Code           City
0            ABR    aberdeen,sd
1            ABI     abilene,tx
2            ADK  adakisland,ak
3            CAK       akron,oh
4            ALB      albany,ny
..           ...            ...
317          ILM  wilmington,nc
318          ORH   worcester,ma
319          WRG    wrangell,ak
320          YAK     yakutat,ak
321          YUM        yuma,az

[322 rows x 2 columns]

In [15]:
cities_unique = []
for city in city_code_api_df['City']:
    if city not in cities_unique:
        cities_unique.append(city)
print(cities_unique)

['aberdeen,sd', 'abilene,tx', 'adakisland,ak', 'akron,oh', 'albany,ny', 'albuquerque,nm', 'alexandria,la', 'easton,pa', 'alpena,mi', 'amarillo,tx', 'anchorage,ak', 'appleton,wi', 'arcata,ca', 'asheville,nc', 'huntington,wv', 'aspen,co', 'atlanta,ga', 'augusta,ga', 'austin,tx', 'bakersfield,ca', 'baltimore,md', 'bangor,me', 'barrow,ak', 'batonrouge,la', 'saginaw,mi', 'beaumont,tx', 'belleville,il', 'bellingham,wa', 'bemidji,mn', 'bethel,ak', 'billings,mt', 'gulfport,ms', 'binghamton,ny', 'birmingham,al', 'bismarck,nd', 'bloomington,il', 'boise,id', 'boston,ma', 'bozeman,mt', 'brainerd,mn', 'bristol,tn', 'brownsville,tx', 'brunswick,ga', 'buffalo,ny', 'burbank,ca', 'burlington,vt', 'butte,mt', 'capegirardeau,mo', 'monterey,ca', 'casper,wy', 'cedarcity,ut', 'cedarrapids,ia', 'champaign,il', 'charleston,sc', 'charleston,wv', 'charlotte,nc', 'charlottesville,va', 'chattanooga,tn', 'cheyenne,wy', 'chicago,il', 'chisholm,mn', 'cincinnati,oh', 'clarksburg,wv', 'clearwater,fl', 'cleveland,oh', 'yellowstone,wy', 'collegestation,tx', 'coloradosprings,co', 'columbia,mo', 'columbia,sc', 'columbus,ga', 'columbus,ms', 'columbus,oh', 'cordova,ak', 'corpuschristi,tx', 'fortworth,tx', 'dayton,oh', 'daytonabeach,fl', 'denver,co', 'desmoines,ia', 'detroit,mi', "devil'slake,nd", 'dothan,al', 'dubuque,ia', 'duluth,mn', 'durango,co', 'durham,nc', 'eauclaire,wi', 'elpaso,tx', 'elko,nv', 'elmira,ny', 'erie,pa', 'escanaba,mi', 'eugene,or', 'evansville,in', 'fairbanks,ak', 'fargo,nd', 'fayetteville,ar', 'fayetteville,nc', 'flagstaff,az', 'flint,mi', 'fortlauderdale,fl', 'fortmyers,fl', 'fortsmith,ar', 'fortwaltonbeach,fl', 'fortwayne,in', 'fresno,ca', 'gainesville,fl', 'gardencity,ks', 'gillette,wy', 'longview,tx', 'grandforks,nd', 'grandisland,ne', 'grandjunction,co', 'grandrapids,mi', 'greatfalls,mt', 'greenbay,wi', 'greensboro,nc', 'greenville,sc', 'gunnison,co', 'hagerstown,md', 'hailey,id', 'hampton,va', 'hancock,mi', 'harlingen,tx', 'harrisburg,pa', 'hartford,ct', 'hayden,co', 'hays,ks', 'helena,mt', 'hilo,hi', 'hiltonhead,sc', 'honolulu,hi', 'houston,tx', 'huntsville,al', 'idahofalls,id', 'indianapolis,in', 'internationalfalls,mn', 'ironmountain,mi', 'islip,ny', 'ithaca,ny', 'jacksonhole,wy', 'jackson,ms', 'jacksonville,fl', 'jacksonville,nc', 'jamestown,nd', 'joplin,mo', 'juneau,ak', 'maui,hi', 'kalamazoo,mi', 'kansascity,mo', 'kauai,hi', 'kearney,ne', 'ketchikan,ak', 'keywest,fl', 'knoxville,tn', 'kodiak,ak', 'kona,hi', 'kotzebue,ak', 'lacrosse,wi', 'lafayette,la', 'lakecharles,la', 'lansing,mi', 'laramie,wy', 'laredo,tx', 'lasvegas,nv', 'latrobe,pa', 'laurel,ms', 'lawton,ok', 'lewisburg,wv', 'lewiston,id', 'lexington,ky', 'liberal,ks', 'lincoln,ne', 'littlerock,ar', 'longbeach,ca', 'losangeles,ca', 'louisville,ky', 'lubbock,tx', 'madison,wi', 'manchester,nh', 'manhattan,ks', 'marquette,mi', 'mcallen,tx', 'medford,or', 'melbourne,fl', 'memphis,tn', 'meridian,ms', 'miami,fl', 'odessa,tx', 'milwaukee,wi', 'minneapolis,mn', 'minot,nd', 'missoula,mt', 'moab,ut', 'mobile,al', 'moline,il', 'monroe,la', 'montgomery,al', 'montrose,co', 'muskegon,mi', 'myrtlebeach,sc', 'nashville,tn', 'newhaven,ct', 'neworleans,la', 'newyork,ny', 'newark,nj', 'newburgh,ny', 'nome,ak', 'norfolk,va', 'northbend,or', 'northplatte,ne', 'oakland,ca', 'ogdensburg,ny', 'oklahomacity,ok', 'omaha,ne', 'ontario,ca', 'orangecounty,ca', 'orlando,fl', 'owensboro,ky', 'paducah,ky', 'palmsprings,ca', 'pasco,wa', 'pellston,mi', 'pensacola,fl', 'peoria,il', 'petersburg,ak', 'philadelphia,pa', 'trenton,nj', 'phoenix,az', 'pierre,sd', 'pittsburgh,pa', 'pocatello,id', 'ponce,puertorico', 'portland,me', 'portland,or', 'portsmouth,nh', 'prescott,az', 'providence,ri', 'deadhorse,ak', 'pueblo,co', 'quincy,il', 'rapidcity,sd', 'redding,ca', 'redmond,or', 'reno,nv', 'rhinelander,wi,', 'richmond,va', 'riverton,wy', 'roanoke,va', 'rochester,mn', 'rochester,ny', 'rocksprings,wy', 'roswell,nm', 'sacramento,ca', 'saintcloud,mn', 'saintgeorge,ut', 'saintlouis,mo', 'salina,ks', 'saltlakecity,ut', 'sanangelo,tx', 'sanantonio,tx', 'sandiego,ca', 'sanfrancisco,ca', 'sanjose,ca', 'sanjuan,puertorico', 'sanluisobispo,ca', 'santabarbara,ca', 'santafe,nm', 'santamaria,ca', 'santarosa,ca', 'sarasota,fl', 'saultstemarie,mi,', 'savannah,ga', 'scottsbluff,ne', 'scranton,pa', 'seattle,wa', 'sheridan,wy', 'shreveport,la', 'siouxcity,ia', 'siouxfalls,sd', 'sitka,ak', 'southbend,in', 'spokane,wa', 'springfield,il', 'springfield,mo', 'universitypark,pa', 'staunton,va', 'wausau,wi', 'stockton,ca', 'syracuse,ny', 'tallahassee,fl', 'tampa,fl', 'texarkana,ar', 'toledo,oh', 'traversecity,mi', 'tucson,az', 'tulsa,ok', 'twinfalls,id', 'tyler,tx', 'vail,co', 'valdosta,ga', 'vernal,ut', 'waco,tx', 'washington,dc', 'waterloo,ia', 'watertown,ny', 'watertown,sd', 'westpalmbeach,fl', 'westchestercounty,ny', 'wichitafalls,tx', 'wichita,ks', 'williston,nd', 'wilmington,nc', 'worcester,ma', 'wrangell,ak', 'yakutat,ak', 'yuma,az']

In [16]:
start_date = '01-JAN-2018'
end_date = '31-JAN-2018'
location_list = ['dallas,tx','newyork,ny']
frequency = 1

In [20]:
hist_weather_data_2018 = retrieve_hist_data(weather_api_key,
                                   location_list,
                                   start_date,
                                   end_date,
                                   frequency,
                                   location_label = False,
                                   export_csv = True,
                                   store_df = True)

Retrieving weather data for dallas,tx


Currently retrieving data for dallas,tx: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:00.727422


export dallas,tx completed!




Retrieving weather data for newyork,ny


Currently retrieving data for newyork,ny: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:00.722354


export newyork,ny completed!

In [21]:
#Create variables to hold all csv files and CSVs
all_files = glob.glob(os.path.join("*.csv"))
all_df = []

# Loop through all files, create df's and add all dataframes to the dataframes list
for x in all_files:
    df = pd.read_csv(x, sep=',')
    df['file'] = x.split('/')[-1]
    all_df.append(df)

In [23]:
#Merge all dataframes
merged_2018_df = pd.concat(all_df, ignore_index=True, sort=True)
merged_2018_df

,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,date_time,file,humidity,location,...,pressure,sunHour,sunrise,sunset,tempC,totalSnow_cm,uvIndex,visibility,winddirDegree,windspeedKmph
0,4,2,7,2,43,71,2018-01-01 00:00:00,"newyork,ny.csv",82,"newyork,ny",...,1003,2.0,09:38 AM,05:46 PM,7,0.0,2,10,233,28
1,3,2,6,2,46,81,2018-01-01 01:00:00,"newyork,ny.csv",82,"newyork,ny",...,1003,2.0,09:38 AM,05:46 PM,6,0.0,2,10,234,30
2,3,1,6,1,48,90,2018-01-01 02:00:00,"newyork,ny.csv",81,"newyork,ny",...,1004,2.0,09:38 AM,05:46 PM,6,0.0,2,10,234,32
3,3,1,6,1,50,100,2018-01-01 03:00:00,"newyork,ny.csv",81,"newyork,ny",...,1004,2.0,09:38 AM,05:46 PM,6,0.0,2,10,235,34
4,3,0,5,0,46,96,2018-01-01 04:00:00,"newyork,ny.csv",82,"newyork,ny",...,1005,2.0,09:38 AM,05:46 PM,5,0.0,2,10,235,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,7,15,16,15,52,0,2018-01-31 19:00:00,"dallas,tx.csv",57,"dallas,tx",...,1011,10.4,08:22 AM,06:59 PM,16,0.0,4,10,193,28
1484,7,14,15,14,53,0,2018-01-31 20:00:00,"dallas,tx.csv",59,"dallas,tx",...,1011,10.4,08:22 AM,06:59 PM,15,0.0,4,10,193,28
1485,8,13,15,13,53,0,2018-01-31 21:00:00,"dallas,tx.csv",62,"dallas,tx",...,1011,10.4,08:22 AM,06:59 PM,15,0.0,4,10,192,28
1486,7,13,15,13,51,0,2018-01-31 22:00:00,"dallas,tx.csv",62,"dallas,tx",...,1011,10.4,08:22 AM,06:59 PM,15,0.0,4,10,192,27
1487,7,12,14,12,48,0,2018-01-31 23:00:00,"dallas,tx.csv",63,"dallas,tx",...,1011,10.4,08:22 AM,06:59 PM,14,0.0,4,10,192,25